.search-container {
  width: 100%;
  background-color: rgba(194, 194, 194, 0.251);
  padding: 8px 15px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
}

input {
  width: 100%;
  padding: 8px 8px;
  background-color: transparent;
  outline: none;
  border: none;
}

.fa-magnifying-glass{
    display: flex;
    justify-content: center;
    align-items: center;
}

